<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>bundleid</key>
	<string></string>
	<key>connections</key>
	<dict>
		<key>67627338-31C7-49C6-8604-6BA80826E347</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>72488604-BE96-4382-AD22-9FC8474D7C74</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
		</array>
	</dict>
	<key>createdby</key>
	<string></string>
	<key>description</key>
	<string>Sublime, Terminal, Chrome, Dash</string>
	<key>disabled</key>
	<false/>
	<key>name</key>
	<string>Front-End</string>
	<key>objects</key>
	<array>
		<dict>
			<key>config</key>
			<dict>
				<key>paths</key>
				<array>
					<string>/Applications/Front-End/CodeKit.app</string>
					<string>/Applications/Front-End/Dash.app</string>
					<string>/Applications/Front-End/Sublime Text.app</string>
					<string>/Applications/Utilities/Terminal.app</string>
				</array>
				<key>toggle</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.launchfiles</string>
			<key>uid</key>
			<string>72488604-BE96-4382-AD22-9FC8474D7C74</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>2</integer>
				<key>keyword</key>
				<string>front-end</string>
				<key>subtext</key>
				<string>Development</string>
				<key>text</key>
				<string>Front-End</string>
				<key>withspace</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>67627338-31C7-49C6-8604-6BA80826E347</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
	</array>
	<key>readme</key>
	<string></string>
	<key>uidata</key>
	<dict>
		<key>67627338-31C7-49C6-8604-6BA80826E347</key>
		<dict>
			<key>ypos</key>
			<real>170</real>
		</dict>
		<key>72488604-BE96-4382-AD22-9FC8474D7C74</key>
		<dict>
			<key>ypos</key>
			<real>170</real>
		</dict>
	</dict>
	<key>webaddress</key>
	<string></string>
</dict>
</plist>
