<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>bundleid</key>
	<string>com.sztoltz.addtoplaylist</string>
	<key>connections</key>
	<dict>
		<key>13FBFD0A-9C79-4DFC-80FD-8025CE3CDBA7</key>
		<array/>
		<key>5204791F-7292-4F32-9806-24BC8321C98C</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>D6C19777-513C-4315-B13F-AAFD9438D5C4</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
		</array>
		<key>544840EB-FACF-4AFE-B4AA-AE233DC2E9FC</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>E2A5CB31-7472-4438-B99D-DCC5B60ABAA5</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
		</array>
		<key>5F7636CC-47A0-4FDF-8A4F-882C749B8259</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>E2A5CB31-7472-4438-B99D-DCC5B60ABAA5</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>13FBFD0A-9C79-4DFC-80FD-8025CE3CDBA7</string>
				<key>modifiers</key>
				<integer>1048576</integer>
				<key>modifiersubtext</key>
				<string>Add Songs to the Selected Playlist</string>
			</dict>
		</array>
		<key>69145E8E-0411-4F2F-8311-AD66E87FDF4C</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>5F7636CC-47A0-4FDF-8A4F-882C749B8259</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
		</array>
		<key>E16A58B9-05FF-43A3-9790-E6326D93DF40</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>5204791F-7292-4F32-9806-24BC8321C98C</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
		</array>
		<key>E2A5CB31-7472-4438-B99D-DCC5B60ABAA5</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>D6C19777-513C-4315-B13F-AAFD9438D5C4</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
		</array>
	</dict>
	<key>createdby</key>
	<string>Carlos Alberto Sztoltz</string>
	<key>description</key>
	<string>Add current song to a selected playlist (2.0)</string>
	<key>disabled</key>
	<false/>
	<key>name</key>
	<string>Add to Playlist</string>
	<key>objects</key>
	<array>
		<dict>
			<key>config</key>
			<dict>
				<key>action</key>
				<integer>0</integer>
				<key>argument</key>
				<integer>3</integer>
				<key>argumenttext</key>
				<string>Add to last used playlist</string>
				<key>leftcursor</key>
				<false/>
				<key>modsmode</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.trigger.hotkey</string>
			<key>uid</key>
			<string>544840EB-FACF-4AFE-B4AA-AE233DC2E9FC</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>escaping</key>
				<integer>68</integer>
				<key>script</key>
				<string>run script (POSIX file ((do shell script "pwd") &amp; "/add.scpt")) with parameters {"{query}"}</string>
				<key>type</key>
				<integer>6</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>E2A5CB31-7472-4438-B99D-DCC5B60ABAA5</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>action</key>
				<integer>0</integer>
				<key>argument</key>
				<integer>0</integer>
				<key>leftcursor</key>
				<false/>
				<key>modsmode</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.trigger.hotkey</string>
			<key>uid</key>
			<string>69145E8E-0411-4F2F-8311-AD66E87FDF4C</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>1</integer>
				<key>escaping</key>
				<integer>68</integer>
				<key>keyword</key>
				<string>addto</string>
				<key>runningsubtext</key>
				<string>Loading playlists...</string>
				<key>script</key>
				<string>run script (POSIX file ((do shell script "pwd") &amp; "/ap_filter.scpt")) with parameters {"{query}"}</string>
				<key>title</key>
				<string>Add song to a playlist</string>
				<key>type</key>
				<integer>6</integer>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.scriptfilter</string>
			<key>uid</key>
			<string>5F7636CC-47A0-4FDF-8A4F-882C749B8259</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>lastpathcomponent</key>
				<false/>
				<key>onlyshowifquerypopulated</key>
				<true/>
				<key>output</key>
				<integer>0</integer>
				<key>removeextension</key>
				<false/>
				<key>sticky</key>
				<false/>
				<key>text</key>
				<string>{query}</string>
				<key>title</key>
				<string>Add to playlist</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.notification</string>
			<key>uid</key>
			<string>D6C19777-513C-4315-B13F-AAFD9438D5C4</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>escaping</key>
				<integer>68</integer>
				<key>script</key>
				<string>run script (POSIX file ((do shell script "pwd") &amp; "/ap_music.scpt")) with parameters {"{query}"}</string>
				<key>type</key>
				<integer>6</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>13FBFD0A-9C79-4DFC-80FD-8025CE3CDBA7</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>1</integer>
				<key>escaping</key>
				<integer>68</integer>
				<key>keyword</key>
				<string>🎵</string>
				<key>runningsubtext</key>
				<string>Loading</string>
				<key>script</key>
				<string>run script (POSIX file ((do shell script "pwd") &amp; "/ap_music.scpt")) with parameters {"{query}"}</string>
				<key>title</key>
				<string>Select Songs to Add</string>
				<key>type</key>
				<integer>6</integer>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.scriptfilter</string>
			<key>uid</key>
			<string>E16A58B9-05FF-43A3-9790-E6326D93DF40</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>escaping</key>
				<integer>68</integer>
				<key>script</key>
				<string>run script (POSIX file ((do shell script "pwd") &amp; "/ap_addmusic.scpt")) with parameters {"{query}"}</string>
				<key>type</key>
				<integer>6</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>5204791F-7292-4F32-9806-24BC8321C98C</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
	</array>
	<key>readme</key>
	<string>Thank you Katie for all your help!!</string>
	<key>uidata</key>
	<dict>
		<key>13FBFD0A-9C79-4DFC-80FD-8025CE3CDBA7</key>
		<dict>
			<key>ypos</key>
			<real>180</real>
		</dict>
		<key>5204791F-7292-4F32-9806-24BC8321C98C</key>
		<dict>
			<key>ypos</key>
			<real>280</real>
		</dict>
		<key>544840EB-FACF-4AFE-B4AA-AE233DC2E9FC</key>
		<dict>
			<key>ypos</key>
			<real>10</real>
		</dict>
		<key>5F7636CC-47A0-4FDF-8A4F-882C749B8259</key>
		<dict>
			<key>ypos</key>
			<real>130</real>
		</dict>
		<key>69145E8E-0411-4F2F-8311-AD66E87FDF4C</key>
		<dict>
			<key>ypos</key>
			<real>130</real>
		</dict>
		<key>D6C19777-513C-4315-B13F-AAFD9438D5C4</key>
		<dict>
			<key>ypos</key>
			<real>180</real>
		</dict>
		<key>E16A58B9-05FF-43A3-9790-E6326D93DF40</key>
		<dict>
			<key>ypos</key>
			<real>280</real>
		</dict>
		<key>E2A5CB31-7472-4438-B99D-DCC5B60ABAA5</key>
		<dict>
			<key>ypos</key>
			<real>80</real>
		</dict>
	</dict>
	<key>webaddress</key>
	<string></string>
</dict>
</plist>
