<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>customSites</key>
	<dict>
		<key>754E6CEA-9761-4B7A-8B03-278FD81AC5D6</key>
		<dict>
			<key>enabled</key>
			<true/>
			<key>keyword</key>
			<string>dem</string>
			<key>plusSpaces</key>
			<false/>
			<key>text</key>
			<string>Demonoid</string>
			<key>url</key>
			<string>http://www.demonoid.ph/files/?category=0&amp;subcategory=All&amp;quality=All&amp;seeded=2&amp;external=2&amp;query={query}&amp;uid=0&amp;sort=S</string>
			<key>utf8</key>
			<true/>
		</dict>
		<key>8507D715-0FBA-41AD-B388-225FECDDCBF1</key>
		<dict>
			<key>enabled</key>
			<true/>
			<key>keyword</key>
			<string>whatis</string>
			<key>plusSpaces</key>
			<false/>
			<key>text</key>
			<string>The Free Dictionary</string>
			<key>url</key>
			<string>http://www.thefreedictionary.com/{query}</string>
			<key>utf8</key>
			<true/>
		</dict>
		<key>885B07BB-F34C-4EA7-AE28-D735E21FC8B0</key>
		<dict>
			<key>enabled</key>
			<false/>
			<key>keyword</key>
			<string>sof</string>
			<key>plusSpaces</key>
			<false/>
			<key>text</key>
			<string>StackOverflow</string>
			<key>url</key>
			<string>http://stackoverflow.com/search?q={query}</string>
			<key>utf8</key>
			<true/>
		</dict>
		<key>C7A1955A-51E8-41DD-B083-020E06FCA406</key>
		<dict>
			<key>enabled</key>
			<true/>
			<key>keyword</key>
			<string>tpb</string>
			<key>plusSpaces</key>
			<false/>
			<key>text</key>
			<string>the piratebay</string>
			<key>url</key>
			<string>http://thepiratebay.se/search/{query}</string>
			<key>utf8</key>
			<true/>
		</dict>
		<key>DDF70C59-D1F0-4CA8-A076-FD88E0D05D84</key>
		<dict>
			<key>enabled</key>
			<true/>
			<key>keyword</key>
			<string>prib</string>
			<key>plusSpaces</key>
			<false/>
			<key>text</key>
			<string>Priberam</string>
			<key>url</key>
			<string>http://www.priberam.pt/DLPO/{query}</string>
			<key>utf8</key>
			<true/>
		</dict>
		<key>FFB3B2C0-EE66-46E1-B9A6-AF40E761241C</key>
		<dict>
			<key>enabled</key>
			<true/>
			<key>keyword</key>
			<string>tref</string>
			<key>plusSpaces</key>
			<false/>
			<key>text</key>
			<string>Terminal Reference</string>
			<key>url</key>
			<string>https://www.google.com/search?q={query}&amp;sitesearch=ss64.com&amp;gws_rd=ssl</string>
			<key>utf8</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
