"*":
  "advanced-open-file":
    createDirectories: true
    createFileInstantly: true
  "atom-alignment": {}
  "atom-clock":
    dateFormat: "MMMM Do, dddd, H:mm ▲"
  "atom-material-ui":
    compactTreeView: true
    depth: true
    disableAnimations: true
    panelContrast: true
    tabSize: "Small"
  "atom-react-native-autocomplete": {}
  "autocomplete-paths": {}
  "autocomplete-plus":
    confirmCompletion: "tab"
  autosave: {}
  core:
    autoHideMenuBar: true
    customFileTypes:
      "source.ini": [
        ".buckconfig"
        ".hgrc"
      ]
      "source.json": [
        ".eslintrc"
        ".arcconfig"
        "BUCK.autodeps"
      ]
      "source.python": [
        "BUCK"
      ]
      "source.shell": [
        ".conf"
      ]
      "source.xml": [
        ".plist"
      ]
    disabledPackages: [
      "language-ruby"
      "language-ruby-on-rails"
      "language-sql"
      "language-todo"
      "language-perl"
      "language-php"
      "language-objective-c"
      "language-mustache"
      "language-hyperlink"
      "language-csharp"
      "language-javascript"
      "language-javascript-better"
      "keyboard-localization"
      "color-picker"
      "react"
      "notebook"
      "autocomplete-paths"
      "turbo-javascript"
    ]
    ignoredNames: [
      ".git"
      ".hg"
      ".svn"
      ".DS_Store"
      "._*"
      "Thumbs.db"
      "desktop.ini"
      ".next"
      "node_modules"
      "dist"
    ]
    openEmptyEditorOnStart: false
    packagesWithKeymapsDisabled: [
      "git-diff"
      "linter-htmlhint"
      "linter"
      "notebook"
      "github"
    ]
    telemetryConsent: "no"
    themes: [
      "one-dark-ui"
      "monokai"
    ]
  docblockr:
    auto_add_method_tag: true
    short_primitives: true
  editor:
    fontFamily: "Hack"
    fontSize: 13
    invisibles: {}
    preferredLineLength: 160
    showIndentGuide: true
    softWrap: true
    softWrapAtPreferredLineLength: true
    zoomFontWhenCtrlScrolling: false
  emmet: {}
  "exception-reporting":
    userId: "687d1a45-4465-08a0-8791-e8ad6da16131"
  "flex-tool-bar": {}
  "fuzzy-finder": {}
  "git-diff":
    showIconsInEditorGutter: true
  "git-history": {}
  github:
    filesystemEventDiagnostics: true
    gitDiagnostics: true
    viewChangesForCurrentFileDiffPaneSplitDirection: "right"
  hidpi: {}
  "highlight-selected":
    hideHighlightOnSelectedWord: true
    highlightBackground: true
    lightTheme: true
  hyperclick:
    linuxTriggerKeys: "shiftKey,ctrlKey"
  "js-hyperclick":
    jumpToImport: true
    usePendingPanes: true
  "keybinding-cheatsheet": {}
  "keyboard-localization":
    useKeyboardLayout: "nb_NO"
    useKeyboardLayoutFromPath: "blah"
  "language-babel":
    disableWhenNoBabelrcFileInPath: true
    suppressTranspileOnSaveMessages: true
  linter: {}
  "linter-eslint":
    disableWhenNoEslintrcFileInPath: true
  "linter-glsl":
    glslangValidatorPath: "/usr/local/bin/glslangValidator"
    linkSimilarShaders: true
  "linter-htmlhint": {}
  "linter-jshint":
    disableWhenNoJshintrcFileInPath: true
    executablePath: "/home/ricardo/.nvm/versions/node/v6.9.2/bin/jshint"
    lintInlineJavaScript: true
    lintJSXFiles: true
  "linter-pylint":
    executable: "/usr/bin/pylint2"
    pythonPath: "/usr/bin/python2"
  "linter-ui-default":
    hidePanelWhenEmpty: true
    panelHeight: 141
    panelRepresents: "Entire Project"
    showProviderName: true
    statusBarClickBehavior: "Toggle Status Bar Scope"
    statusBarRepresents: "Current File"
  minimap:
    plugins:
      "git-diff": true
      "git-diffDecorationsZIndex": 0
      pigments: true
  "minimap-git-diff":
    useGutterDecoration: true
  "node-debugger": {}
  nuclide:
    "nuclide-working-sets": {}
  "one-dark-ui":
    fontSize: 10
    tabSizing: "Even"
  processing: {}
  "project-folder":
    projectRootDirectories: [
      "/home/ricardo/Projects/bpmn.io"
      "/home/ricardo/Projects/Open\\ Source/"
    ]
  react:
    enabledForAllJavascriptFiles: true
  "save-session":
    dataSaveFolder: "/home/ricardo/.atom/projects"
    skipSavePrompt: false
  tabs:
    enableMruTabSwitching: false
  "terminal-panel": {}
  "tester-jest":
    binaryPath: "npm test --"
    nodeEnv: "development"
  "tool-bar":
    position: "Right"
    visible: false
  "tree-view":
    alwaysOpenExisting: true
    squashDirectoryNames: true
  "tree-view-git-status": {}
  welcome:
    showOnStartup: false
".basic.html.text":
  editor:
    preferredLineLength: 120
".coffee.jsx.source":
  editor:
    preferredLineLength: 120
".js.jsx.source":
  editor:
    preferredLineLength: 120
".source.supercollider":
  editor:
    preferredLineLength: 120
