packages: [
  "advanced-open-file"
  "atom-alignment"
  "atom-chai-snippets"
  "atom-prettify"
  "auto-indent"
  "auto-update-packages"
  "autoclose-html"
  "autocomplete-modules"
  "autocomplete-paths"
  "clipboard-history"
  "dash"
  "docblockr"
  "editorconfig"
  "emmet"
  "expose"
  "file-icons"
  "flex-tool-bar"
  "git-blame"
  "git-history"
  "git-log"
  "highlight-selected"
  "jsonlint"
  "language-babel"
  "language-javascript-babel"
  "language-processing"
  "linter"
  "linter-jshint"
  "linter-scss-lint"
  "minimap"
  "minimap-git-diff"
  "mocha-test-runner"
  "monokai"
  "node-debugger"
  "node-resolver"
  "nucleus-dark-ui"
  "p5js"
  "package-js-generator"
  "package-sync"
  "pigments"
  "predawn-syntax"
  "predawn-ui"
  "pretty-json"
  "processing"
  "project-folder"
  "regex-railroad-diagram"
  "save-session"
  "Sublime-Style-Column-Selection"
  "synced-sidebar"
  "term2"
  "toggle-quotes"
  "tool-bar"
  "tool-bar-main"
  "tree-view-git-status"
  "turbo-javascript"
]
