packages: [
  "advanced-open-file"
  "atom-clock"
  "atom-react-native-autocomplete"
  "auto-indent"
  "auto-update-packages"
  "autocomplete-clang"
  "autocomplete-glsl"
  "autocomplete-modules"
  "autocomplete-paths"
  "docblockr"
  "editorconfig"
  "file-icons"
  "flex-tool-bar"
  "git-history"
  "highlight-selected"
  "jsonlint"
  "language-babel"
  "language-glsl"
  "language-javascript-jsx"
  "language-lua"
  "language-x86-64-assembly"
  "linter"
  "linter-clang"
  "linter-eslint"
  "linter-jshint"
  "minimap"
  "minimap-git-diff"
  "monokai"
  "nucleus-dark-ui"
  "package-sync"
  "predawn-syntax"
  "predawn-ui"
  "pretty-json"
  "processing"
  "project-folder"
  "react-native-snippets"
  "regex-railroad-diagram"
  "Sublime-Style-Column-Selection"
  "toggle-quotes"
  "tool-bar"
  "tree-view-git-status"
  "turbo-javascript"
]
