packages: [
  "advanced-open-file"
  "atom-clock"
  "auto-indent"
  "autocomplete-clang"
  "autocomplete-glsl"
  "autocomplete-modules"
  "autocomplete-paths"
  "busy-signal"
  "docblockr"
  "duplicate-line-or-selection"
  "editorconfig"
  "es6-javascript"
  "file-icons"
  "git-history"
  "highlight-selected"
  "hyperclick"
  "intentions"
  "js-hyperclick"
  "jsonlint"
  "language-babel"
  "language-docker"
  "language-glsl"
  "language-lua"
  "language-x86-64-assembly"
  "linter"
  "linter-clang"
  "linter-eslint"
  "linter-glsl"
  "linter-jshint"
  "linter-ui-default"
  "minimap"
  "minimap-git-diff"
  "monokai"
  "notebook"
  "nucleus-dark-ui"
  "package-sync"
  "predawn-syntax"
  "predawn-ui"
  "pretty-json"
  "processing"
  "project-folder"
  "react-native-snippets"
  "regex-railroad-diagram"
  "Sublime-Style-Column-Selection"
  "tab-foldername-index"
  "toggle-quotes"
  "tool-bar"
  "tree-view-git-status"
  "turbo-javascript"
  "veda"
]
